*{
	margin: 0;
	/*padding: 0;*/
	box-sizing: border-box;
}


:root{
 --my-bg-color:#0c1027;
 --secondary-bg-color:#12193e;
}

body{
	background-color:#0c1027;
	font-family: 'Poppins', sans-serif;
}


.no-decoration{
	text-decoration: none;
}
.white-link{
	color: white;
}
/*------------------------nav-bar-----------------------*/

nav{
	background-color:var(--my-bg-color);
	display: flex;
	align-items: center;
	justify-content: space-around;
	/*font-family: 'Arimo', sans-serif;*/
	font-family: 'Poppins', sans-serif;
	font-size:20px;
	position: sticky;
	top: 0;
}

nav a:hover{
	background-color: #333f7d;
	border-radius: 25%;
	padding: 8px;
}

/*---burger-icon-----*/
.checkbtn{
	color: white;
	font-size: 30px;
	display: none;
	cursor: pointer;
}

#check{
	display: none;
}

/*-------brand------*/


.brand{
	display: inline-block;
	width: 10%;
}

.logo-img{
	width:22%;
	max-height: 50px;
	border-radius: 50%;
	margin: 5px;
	margin-left: 25px;
}
/*----navigation-options----*/

.navbar-list{
	list-style: none;
	position: relative;
	left: -23%;     /*for large and above (950 and above)*/
    padding-left: 40px;
}

.horizontal-list li{
	display: inline-block;
    margin: 5px;
    

}


.navbar-list a{
	font-size: 16px;
	padding: 8px;
	transition:200ms all ease-in-out;
}

.navbar-list a:hover{
	background-color: #333f7d;
	border-radius: 25%;
}


#queue-link{
	display: none;
}
/*--search-bar----*/

.search-checkbtn{
	color: white;
	font-size: 30px;
	display: none;
}

#check-search{
	display: none;
}


form{
	display: inline-block;
	margin-left: 15px; 
	margin-right: 10px;
}

.search-button{
    height: 4vh;
	border: none;
	width:3vw;
	margin-right: -2.5px;
	background-color: var(--secondary-bg-color);
	color: white;
}
.search-input{
	height: 4vh;
	width: 20vw;
	max-width: 220px;
	border: none;
	margin-left: -2.5px;
	padding: 5px;
	background-color: var(--secondary-bg-color);
	color: white;

}

/*---notifications---*/

#notifications{
	margin:0 10px;
}

/*pop-up*/
#new-notifications{
	position: absolute;
	color: var(--secondary-bg-color);
	background-color: var(--secondary-bg-color);
	height: 100vh;
	width:0;
	text-align: center;
	line-height: 100vh;
	top: 0;
	right: 0;
	transform: scale(0,1);
	transition: 250ms all ease-in-out ;
	transform-origin: right;
	
}
.close-link{
	position:absolute;
	top:-48vh;
	right: 5px;
}

.close-link:hover{
	background-color:var(--secondary-bg-color) ;
}

#new-notifications:target{
	width:300px;
	transform: scale(1,1);
	color: white;

}

/*----user------*/

#user{
	/*margin-left:10px;*/
	margin-right: 35px;
}

#log-in-icon{
	display: none;
}
/*pop-up*/
#log-in-section{
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.5);
	/*background-color: white;*/
	/*display: flex;*/
	align-items: center;
	justify-content: center;
	left: 0;
	top: 0;
	display: none;
	transition: 1s all ease-in-out 200ms;
	/*z-index: 3;*/
}

#log-in-section:target{
	display: flex;
}
#visible-area form{
	background-color: #f0f2f3;
	border: 5px solid #3369ff;
	display: flex;
	flex-direction: column;
	position: relative;
	height: 50vh;
	width: 50vw;
	border-radius: 10%;
	justify-content: center;
	align-items: center;
	/*z-index: 3;*/
}

#visible-area label{
	font-size: 2vw;
	color: #3369ff;
	/*margin-bottom: -4px;*/
}
#visible-area input{
	width: 35vw;
    height: 6vh;
    padding: 2px;
    border: none;
    border-bottom: 2px solid #3369ff;
    background-color: #f0f2f3;
    margin-bottom: 10px;
}

.submit-button{
 height: 4vh;
 width: 10vw;
 padding: 2px;
 margin: 10px 0;
 background-color:#3369ff;
 box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
 font-size: 1.5vw;
 font-weight: 700;
 color: white;
 cursor: grab;
}

#sign-up-link{
	margin: 10px;
	position: relative;
	top: 20px;
	color: #3369ff;
}

#sign-up-link:hover{
	background-color:#f0f2f3 ;
	border-radius: 0;
	padding: 1px;
}

#close-login{
	position: absolute;
	top:15px;
	right:15px;
	color:black;
	font-size: 2vw;
}

#close-login:hover{
	background-color: rgba(0,0,0,0.3);
	border-radius: 50%;
	padding: 10px;
}




/*---link classes-----*/

.white-link{
	color: white;
}
.no-decoration{
	text-decoration: none;
}
.active {
	background-color: #333f7d;
	border-radius: 25%;
}



/*-------responsive-design--------*/

@media screen and (max-width: 950px){
	.checkbtn{
		display: inline-block;
	}
	#check{
		display: none;
	}



	.navbar-list{
	
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 80%;
	left: 0;
	background-color: var(--secondary-bg-color);
	height: 40vh;
	left: -100%;
	transition: 500ms all ease-in-out;
	

	}

    .navbar-list li{
    	margin-top: 50px;
    }

    #check:checked ~ .navbar-list{
    	left: 0;
    }

}


@media screen and (max-width: 600px){
	#log-in-icon{
	display: inline-block;
	}
	#log-in-link{
		display: none;
	}

	#search-form{
		position: absolute;
		right:2vw;
		top: 60px;
		display: none;
		transition: 1s all ease-in-out;

	}
	
	.search-checkbtn{
		display: inline-block;
		font-size: 20px;
	}
	

	#check-search:checked ~ form{
		display: inline-block;
	}
    


}



/*---------------------------MAIN-----------------------------*/
main {
	
	width: 95vw;
	/*border: 2px solid white;*/
	margin-top: 1%;
	margin-left: 3%;
	margin-right: 2%;
}


/*------------------section-------------------*/

section{
	height: 88vh;
	width: 67%;
	/*border:2px solid red;*/
	display: inline-block;
	overflow-y: scroll;

}





/*------------------main------------------------*/


/*-----------about-artist-------------*/

#about-artist{
	background-color: #141b41;
	/*padding: 0 1% 1% 0;*/
	margin: 0.5vw 2vw;
	display: flex;
	width: 95%;

}

#about-artist img{
	width: 40%;
}

#about-artist-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: 2vw;

}

#about-artist-header{
	display: flex;
	justify-content: space-between;
	width: 90%;
	align-items: center;

}

#about-artist--name{
	color: white;
	font-size: 1.5vw;
	font-weight: 800;
}

#about-artist--genre{
   color: #b9b9b9 ;
   font-size: 0.8vw;
   font-weight: 600;
}

#followers{
	color:#b9b9b9; 
	font-size: 0.7vw;
}

#about-artist-para{
   color: #b9b9b9;
   font-size: 0.7vw;
   width: 90%;
   font-weight: 300;
   text-align: justify;
   margin-top: 2%;
   margin-bottom: 7%;
}

#about-artist-buttons{
	width: 90%;
}

#play-all{
	width: 8vw;
	font-size: 1vw;
	border:none;
	color: white;
	padding: 2% 0 ;
	background-image: linear-gradient(to right, #4d2ab7,#bb46dc);
	cursor: pointer;
	margin-right: 2%;

}
#follow-button{
	width: 8vw;
	font-size: 1vw;
	border:none;
	color: white;
	background-color : #141b41;
	padding: 2% 0 ;
	cursor: pointer;

}

#about-artist-footer{
	color: white;
	font-size: 0.7vw;
	margin-top: 1%;
}






/*----------songs-by-artist------------*/



/*#songs-by-artist{
	height: 50.5vh;
	overflow-y: scroll;
}
*/
#songs-by-artist ol{
	display: flex;
	flex-direction: column;
	/*list-style: none;*/
	padding: 0;
	color: white;
	counter-reset: song-counter;
}
#songs-by-artist ol li{
	display: flex;
	width: 95%;
	margin: 0.5vw 2vw;
	transition: 50ms all ease-in-out;
	background-color: #1a1e33;
	padding: 1%;
}

#songs-by-artist ol li::before{
	counter-increment: song-counter;
	content: counter(song-counter) '';
	color: #7d7d7d;
	font-size:1vw;
	/*padding: 1%;*/
	margin-right: 2%;
	margin-top: 2%;
}

#songs-by-artist ol li:hover{
	opacity: 0.8;
	border: 1px solid lightgrey;
}
#songs-by-artist ol li > a{
	width: 6%;
	margin-right: 1vw;
}

#songs-by-artist ol li img{
	width: 100%;
	/*margin-right:  1vw;*/
}

#songs-by-artist  .q-track-details{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 90%;
	font-family: 'Poppins', sans-serif;
}
 .q-track-details i {
	font-size: 1.2vw;
	cursor: pointer;
	/*margin: 0 4%;*/
}

.main-section-icons{
	display: flex;
	float: right;
	justify-content: space-around;
	margin-right: 1%;
}

.empty-space{
	width: 2vw;
}




.singer-name{
	font-size:0.9vw;
	color: #7d7d7d; 


}



/*-------------------aside---------------------*/

aside{
	height:88vh;
	width:30%;
	/*border: 2px solid yellow; */
	display: inline-block;
	margin-left: 1%;
	overflow-y: scroll;
}


.aside-heading{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 3%;
	margin-bottom: 5%;
	color: white;
	font-size: 1.5vw;
	font-family: 'Poppins', sans-serif;
}


.view-all-link{
	color: #7d7d7d;
	font-size: 0.9vw;
	text-decoration: none;
}

/*-------------similar-artists-------------*/

#similar-artists{

	margin-bottom: 5%;
}

#list-of-artists{
	display: flex;
	flex-direction: column;
	width: 100%;

}


.latest-track{
	width: 100%;
	margin: 1% 2vw;
	/*margin-top: -2%;*/
	display: flex;
	/*border: 2px solid green;*/
	/*position: relative;*/
}

.latest-track-img-cont{
	width: 18%;
	margin-right: 2%;
	/*position: relative;*/
	transition: 200ms all ease-in-out 100ms;
}

.latest-track img{
	width:100%;
	cursor: pointer;
	transition: 200ms all ease-in-out;
	z-index: 0;
}
.latest-track img:hover{
	opacity: 0.3;
}
.track-play-icon{
	position: absolute;
	color: white;
	top: 30%;
	left: 40%;
	display: none;
	font-size: 1.5vw;
	transition: 200ms all ease-in-out 100ms;
	z-index: -1;
}
.latest-track-img-cont:hover .track-play-icon{
	display: inline-block;
}


.track-details{
	display: flex;
	width: 64%;
	justify-content: space-between;
	align-items: center;
	color: white;
	margin: 2%;
	/*border: 2px solid white;*/
}

.name-date{
	display: flex;
	flex-direction: column;
}


.song-name{
   color: #f7f8fa;
   font-size: 1.2vw;
}

.song-checkbox-icon{
	 color: #f7f8fa;
	 font-size: 1.5vw;
	 cursor: pointer;
}
.song-date,.song-duration{
	color: #7d7d7d;
	font-size: 0.9vw;
}


/*---droop-down-menu-----*/

.menu-details{
	position: relative;
}

.menu-details ul{
	padding: 0;
list-style: none;
background-color: #FFFAFA;
color: grey;
/*padding: 3%;*/
font-size: 0.8vw;
position: absolute;
top: 3vh;
left: -8vw;
width: 9vw;
display: none;
/*margin-right: 2%;*/
line-height: 1.7vw;

}

.menu-details ul a{
	color: black;
	text-decoration: none;
	padding: 1%;
}

.menu-details ul li{
	border-bottom: 1px solid black;
}

.menu-details ul li:hover {
	background-color: lightgrey;
}
.menu-details ul li i{
	margin: 0 0.2vw; 
}

.song-checkbox-1{
	display: none;
}
.song-checkbox-1:checked~ul{
	display: inline-block;
}
.song-checkbox-2{
	display: none;
}
.song-checkbox-2:checked~ul{
	display: inline-block;
}

.song-checkbox-3{
	display: none;
}
.song-checkbox-3:checked~ul{
	display: inline-block;
}




/*----------------recently played---------------*/

#list-of-songs{
	height: 50vh;
	overflow-y: auto;
}



#list-of-songs ol{
	display: flex;
	flex-direction: column;
	/*list-style: none;*/
	padding: 0;
	color: white;
	counter-reset: song-counter;
}
#list-of-songs ol li{
	display: flex;
	width: 90%;
	margin: 1vw 2vw;
	/*background-color: #1a1e33;*/
	transition: 50ms all ease-in-out;
}

#list-of-songs ol li::before{
	counter-increment: song-counter;
	content: counter(song-counter) '';
	color: #7d7d7d;
	font-size:1vw;
	/*padding: 1%;*/
	margin-right: 3%;
	margin-top: 4%;
}

#list-of-songs ol li:hover{
	opacity: 0.8;
	border: 1px solid lightgrey;
}
#list-of-songs ol li img{
	width: 14%;
	margin-right:  1vw;
}

#list-of-songs .q-track-details{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 70%;
	font-family: 'Poppins', sans-serif;
}
.q-track-details i {
	font-size: 1.2vw;
	cursor: pointer;
}


.singer-name{
	font-size:0.9vw;
	color: #7d7d7d; 


}





/*--------------------hide scrollbar---------------*/
section::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
section {
    -ms-overflow-style: none;
}


aside::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
aside {
    -ms-overflow-style: none;
}

#songs-by-artist::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
 #songs-by-artist{
    -ms-overflow-style: none;
}

#recently-played ::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
#recently-played {
    -ms-overflow-style: none;
}






/*------------------responsive-design-----------------*/
@media screen and (max-width: 900px){

	section{
  width: 100%;

}

#about-artist-header{
	display: flex;
	justify-content: space-between;
	width: 90%;
	align-items: center;

}

#about-artist--name{
	color: white;
	font-size: 2vw;
	font-weight: 800;
}

#about-artist--genre{
   color: #b9b9b9 ;
   font-size: 1.3vw;
   font-weight: 600;
}

#followers{
	color:#b9b9b9; 
	font-size: 1.3vw;
}

#about-artist-para{
   color: #b9b9b9;
   font-size: 1.3vw;
   width: 90%;
   font-weight: 300;
   text-align: justify;
   margin-top: 2%;
   margin-bottom: 4%;
}
#queue-link{
	display: inline-block;
}


  aside{
  	display: none;
  }
}


/*-------------------------------footer------------------------------*/


footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: #282828;
	font-family: 'Poppins', sans-serif;
	z-index: 2;
	display: none;

}

footer:target{
	display: block;
}

#player-contents{
	margin: 0 7vw;
	height: 100%;
	/*border: 3px solid white;*/
	/*background-color: black;*/
	display: flex;
	justify-content: space-between;
}

#curr-track-info{
	display: flex;
	padding: 0.5%;
}
.track-name{
	font-size:1vw;
	color: white;
	margin-top: 1vw;
	

}

#curr-track-info img{
	
	width: 60px;
	height: 60px;
	margin: 0 2%;
	margin-top: 15px;
}
#curr-track-details{
 margin-right: 2%;

}

.track-buttons{
	color: white;
	margin-top: 6%; 
	display: flex;
	color: 		#b3b3b3;
	/*margin: 3px 2px;*/
}

.track-buttons i{
	margin-right: 8px; 
	cursor: pointer;
}

#track-seeker-container{
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#track-seeker-container i{
	cursor: pointer;
}

#curr-track-buttons{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50%;
	width: 50%;
	color: #b3b3b3;
	font-size: 1.5vw;
	margin-top: 1%;

}

#track-seeker{
	margin-top: -1%;
	width: 100%;
	display: flex;
	align-items: center;
	/*height: 2vh;*/
	/*background-color: black;*/

}
#seeker-display{
	width: 85%;
	height: 1vh;
	background-color: lightgrey;
	position: relative;
	border-radius: 20%;
	color: white;
}

#seeker-display i{
	position: absolute;
	top: -0.5vh;
	left: 8.4vw;
}

#curr-progress{
	width: 32%;
	height: 1vh;
	background-color: green;
	border-radius: 20%;
}

#time-elapsed{
	margin-right: 1vw;
}
#total-time{
	margin-left: 1vw;
}

#player-toggle{
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-left: 5%;
	color: #b3b3b3;
	font-size: 1.5vw;
}

#volume-toggle{
	width: 80%;
	display: flex;
	align-items: center;
	font-size: 2vw;
    
}
#player-toggle i{
	cursor: pointer;
}

#volume-toggle > i{
	margin-right: 0.5vw;
	color: white;
	
}


#total-volume{
   width: 70%;
   height: 1vh;
   background-color: grey;
   position: relative;
   border-radius: 20%;
}

#total-volume i{
   font-size: 1.5vw;
   position: absolute;
   top: -0.3vw;
   left: 4vw;
   cursor: pointer;
   color: white;
}

#curr-volume{
	width: 50%;
	height: 1vh;
	background-color: green;
	border-radius: 20%;
}








